
.calendar-widget-table { margin:0 0 2em; }
.calendar-widget-table table { width:100%; border-collapse:collapse; border:1px solid #ddd; border-spacing:0; margin:0; }
.calendar-widget-table table td, .calendar-widget table th { border:1px solid #ddd; }

.calendar-widget-table thead th { text-align:center; padding:5px; font-size:1.2em; }

.calendar-widget-table tbody td { background-color:#fff; padding:4px; width:13%; font-size:1em; }

.calendar-widget-table tbody .calendar-header td { background-color:#555; color:#fff; border-color:#555; }

.calendar-widget-table tbody .calendar-day { text-align:right; }
.calendar-widget-table tbody .show-week { width:9%; text-align:center; }
.calendar-widget-table tbody .calendar-day:hover, 
.calendar-widget tbody .show-week:hover, 
.calendar-widget tbody .selected { background-color:#d9edf7; cursor:pointer; color:#3a87ad; }
.calendar-widget-table tbody .out-of-month { background-color:#eee; color:#999; }
.calendar-widget-table tbody .today { font-weight:700; color:#3a87ad; }
.calendar-widget-table tbody .hasEvent {background-image:url(../images/dot.png);background-repeat:no-repeat;background-position:center;}
