
#Form_EditForm_RecurringDaysOfWeek { width:400px; }
#Form_EditForm_RecurringDaysOfMonth { width:360px; }
#Form_EditForm_RecurringDaysOfWeek li, #Form_EditForm_RecurringDaysOfMonth li { float:left; padding:2px 9px; }
#Form_EditForm_RecurringDaysOfWeek li:hover, #Form_EditForm_RecurringDaysOfMonth li:hover { background:#ccc; }

#RecurringDaysOfMonth div.middleColumn, #RecurringDaysOfWeek div.middleColumn, #RecurringDaysOfMonth span.middleColumn, #RecurringDaysOfWeek span.middleColumn { overflow:hidden; }

#RecurringDaysOfMonth .optionset li, #RecurringDaysOfWeek .optionset li { width:50px; padding:0; margin:0; height:50px; font-weight:bold; padding-top:0px; }

#RecurringDaysOfMonth .optionset li label, #RecurringDaysOfWeek .optionset li label { display:block; height:30px; font-size:16px; margin-top:0; text-align:center; padding-top:20px; }
#RecurringDaysOfMonth .optionset li input, #RecurringDaysOfWeek .optionset li input { float:left; }

#RecurringDaysOfWeek .optionset li { border-bottom:1px solid #666; }
#RecurringDaysOfMonth .optionset li.selected, #RecurringDaysOfWeek .optionset li.selected { background:#aaa; }

#RecurringDaysOfMonth .optionset li.b-btm, #RecurringDaysOfWeek .optionset li.b-btm { border-bottom:1px solid #666; }
#RecurringDaysOfMonth .optionset li.b-top, #RecurringDaysOfWeek .optionset li.b-top { border-top:1px solid #666; }
#RecurringDaysOfMonth .optionset li.b-lft, #RecurringDaysOfWeek .optionset li.b-lft { border-left:1px solid #666; }
#RecurringDaysOfMonth .optionset li.b-rgt, #RecurringDaysOfWeek .optionset li.b-rgt { border-right:1px solid #666; }

#Repeat_Alert_Message { background:#fff3a7; padding:2px 4px; border-top:1px solid #d3af22; border-bottom:1px solid #d3af22; }