
#event-calendar-events ul, .event-calendar-events ul li { list-style:none; margin:0; padding:0; }

#event-calendar-events .vevent { padding:0 0 1em; margin:0 0 1em; border-bottom:1px solid #ccc; }

.event-calendar-other-dates { margin:1em 0 0; }
.event-calendar-other-dates ul, .event-calendar-other-dates ul li { list-style:none; margin:0; padding:0; }
.event-calendar-other-dates h4 { margin:0; }

.vevent .dates { font-weight:700; }

.calendar-view-more.loading {color: #ccc;}

